{% extends "base.html" %}
{% block content %}
<div class="container">
  <h2 class="text-center">Instructions</h2>
  <div style="margin-top:5%">
    <h3>How to play : </h3>
    <p>1. Register yourself first by clicking 'Join Hunt' at homepage.</p>
    <p>2. Login by clicking 'Take Flight' at homepage and use your roll number and password given at the time of registration.</p>
    <p>3. You start as a young Mothra with level 'born'.</p>
    <p>4. Click on 'Go Hunting' to attempt the next challenge.</p>
    <p>5. You are given a puzzle. You have to solve it to find the answer.</p>
    <p>6. Write the answer and its explanation and submit.</p>
    <p>7. If your submission is accepted then you are upgraded to the next level and can attempt a new challenge.</p>
    <p>8. The number of attempts left for the particular stage can now be seen on the particular challenge's page.</p>
    <p>Tip: Keep and eye out for announcements and notifications.</p>
  </div>
  <div class="" style="margin-top:5%">
    <h3>Submissions : </h3>
    <p>1. There are two parts of a submission. Answer(Case-sensitive) and Explanation(Non Case-sensitive).</p>
    <p>2. When you submit there are 2 parts in which your answer is checked which are Answer Check and Explanation Check.</p>
    <p>3. The answer check is handled automatically and if the answer is found to be incorrect then the explanation will not be checked.</p>
    <p>4. If the answer is correct then the explanation part is sent to the admin for review.</p>
    <p>5. If the admin finds the explanation satisfactory then you will be upgraded to the next level. Otherwise you will get a rejected submission notification.</p>
    <p>6. You can expect the review of your submission within 1 hour of your submission. But for the submission given between 12AM to 6AM, the review will be done after 6 AM only.</p>
  </div>

</div>
{% endblock %}
